@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #B2B2B2;
  font-family: 'Noto Serif KR', serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

header {
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 8px calc(50vw - 580px);
  margin: 0 auto;
  width: 100%;
  color: #fff;
  z-index: 10;
  transition: background-color 0.5s;
}
.changeheader {
  background-color: #555;
  transition: background-color 0.5s;
}
header .name {
  padding: 23px 22px;
  line-height: 24px;
}
header .name .header-title {
  cursor: pointer;
  filter: brightness(0.8);
}
header .name .header-title:hover{
  filter: brightness(1);
  transition: filter 0.3s ease-in-out;
}
header .navbar {
  display: flex;
  list-style: none;
}
header .navbar li {
  cursor: pointer;
  filter: brightness(0.8);
}
header .navbar li a {
  padding: 8px 22px;
}
header .navbar li:hover {
  filter: brightness(1);
  transition: filter 0.3s ease-in-out;
}
header .list {
  display: none;
  position: absolute;
  right: 15px;
  top: 22px;
  font-size: 20px;
  cursor: pointer;
}
.home {
  position: relative;
  width: 100%;
  height: 50vw;
  background: url(../public/work-5801876_960_720.jpg) no-repeat fixed;
  background-size: cover;
  z-index: -1;
}
.home::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to left top, rgba(0, 0, 0, 0.9), transparent);
}
.home .title {
  font-size: 46px;
  font-weight: 700;
  line-height: 1.5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home .title .title-text {
  color: #444;
}
.title .title-text li span{
  position: relative;
  width: 100%;
}
.title .title-text li span::before {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: textslide 2s linear 1;
  animation-fill-mode: forwards;
}
.title .title-text li:nth-child(2) span::before {
  animation-delay: 2s;
}
.title .title-text li:nth-child(3) span::before {
  animation-delay: 4s;
}

.about {
  color: #444;
  position: relative;
  height: auto;
  margin: 0 calc(50vw - 370px);
}
.about .about-title {
  padding-top: 30px;
  font-size: 40px;
  text-align: center;
}
.about .about-title h2 {
  margin: 0;
}
.about .about-contents h2 {
  color: #666;
  text-align: center;
  margin-bottom: 35px;
}
.about .about-contents .about-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.about-contents .about-list .about-list-content {
  width: 50%;
  margin-bottom: 15px;
  height: 150px;
}
.about-contents .about-list .about-list-content span {
  font-size: 20px;
  font-weight: 700;
  right: -0.6em;
  position: relative;
}
.about-contents .about-list .about-list-content span::before {
  content: '';
  position: absolute;
  left: -0.6em;
  width: 0.2em;
  height: 100%;
  background-color: #444;
}
.about-contents .about-list .about-list-content .about-list-text {
  margin-top: 20px;
}

.skills {
  height: auto;
  margin: 0 calc(50vw - 420px);
}
.skills .skills-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 2em;
}
.skills .skills-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.skills .skills-list .skills-list-content {
  box-sizing: border-box;
  text-align: center;
}
.skills .skills-list .skills-list-content:nth-child(1),
.skills .skills-list .skills-list-content:nth-child(2) {
  width: 50%;
  margin-bottom: 3em;
}
.skills .skills-list .skills-list-content:nth-child(3),
.skills .skills-list .skills-list-content:nth-child(4),
.skills .skills-list .skills-list-content:nth-child(5) {
  width: 33.3%;
}
.skills .skills-list .skills-list-content:nth-child(1),
.skills .skills-list .skills-list-content:nth-child(3),
.skills .skills-list .skills-list-content:nth-child(4) {
  padding-right: 1em;
}
.skills .skills-list .skills-list-content i {
  font-size: 20px;
}
.skills .skills-list .skills-list-content span {
  padding-left: 0.5em;
  font-size: 20px;
}
.skills .skills-list .skills-list-text {
  padding-top: 0.5em;
}

.project {
  height: auto;
  margin: 150px calc(50vw - 420px) 0;
  color: #333;
}
.project .project-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 2em;
}
.project .project-contents-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}
.project .project-contents-box .project-contents {
  width: 48%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
}
.project .project-contents-box .project-contents:hover {
  transform: scale(1.05);
  transition: transform 0.35s;
}
.project-contents-box .project-contents .portfolio-img {
  width: 100%;
  height: 40%;
  background: url(./img/portfoliocapture.png) no-repeat;
  background-size: contain;
}
.project-contents-box .project-contents .clonecoding-img {
  width: 100%;
  height: 40%;
  background: url(./img/clonecoding.png) no-repeat;
  background-size: contain;
}
.project-contents-box .project-contents .project-text {
  padding: 0 1em;
}
.project-contents .project-text h2 {
  margin-bottom: 0.5em;
}
.project-contents .project-text h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.project-contents .project-text .project-nth {
  color:#777;
}
.project-contents .project-text .project-period {
  font-size: 18px;
}
.project-contents .project-text .project-skills {
  margin: 1em 0 2em;
  display: flex;
}
.project-text .project-skills .project-skill {
  background-color: #AFEEEE;
  border-radius: 4px;
  padding: 0.2em 0.4em;
  margin-right: 1em;
}
.project-contents-box .project-contents .project-github {
  color: #000;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.contact {
  margin: 0 calc(50vw - 420px);
}
.contact .contact-title {
  text-align: center;
  font-size: 36px;
}
.contact .contact-title h2 {
  margin-bottom: 0.5em;
}
.contact .contact-list {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}
.contact .contact-list .email,
.contact .contact-list .phone {
  margin-bottom: 0.5em;
}
.contact .contact-list .email i,
.contact .contact-list .phone i {
  margin-right: 0.5em;
}
.contact .contact-list .github i {
  color: #000;
}

footer {
  background-color: #444;
  padding: 1.5em 0;
  text-align: center;
  color: #fff;
  font-size: 15px;
}
@media screen and (max-width: 1120px){
  .home {
    background-size: contain;
  }
}
@media screen and (max-width: 870px) {
  .project {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 850px) {
  .skills, .contact {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 820px) {
  .home .title {
    font-size: 40px;
    font-weight: 700;
  }
  .about, .project {
    width: 100%;
    margin: 0;
  }
  .about .about-title {
    padding-top: 1em;
    font-size: 32px;
  }
  .about-contents .about-list .about-list-content {
    width: 100%;
    text-align: center;
    height: 80px;
  }
  .about .about-contents h2 {
    font-size: 20px;
  }
  .about-contents .about-list .about-list-content span {
    right: 0;
  }
  .about-contents .about-list .about-list-content span::before {
    display: none;
  }
  .skills .skills-title {
    font-size: 32px;
    margin-bottom: 0;
  }
  .skills .skills-list .skills-list-content:nth-child(1),
  .skills .skills-list .skills-list-content:nth-child(2),
  .skills .skills-list .skills-list-content:nth-child(3),
  .skills .skills-list .skills-list-content:nth-child(4),
  .skills .skills-list .skills-list-content:nth-child(5) {
    width: 100%;
    padding: 0;
    margin-bottom: 1em;
  }

  .project .project-title {
    font-size: 32px;
  }
  .project .project-contents-box {
    flex-direction: column;
    height: 1000px;
  }
  .project .project-contents-box .project-contents {
    width: 387px;
    height: 48%;
  }
}
@media screen and (max-width: 680px){
  header {
    flex-direction: column; 
    align-items: flex-start;
    height: 70px;
    padding: 0;
  }
  header .navbar {
    display: flex;
    background-color: #333;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 30vw;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: -300px;
    padding-top: 70px;
    transition: right 0.6s;
  }
  header .open {
    right: 0;
    transition: right 0.45s;
  }
  header .navbar li {
    width: 100%; 
    text-align: center; 
    box-sizing: border-box;
    font-size: 24px;
    margin-bottom: 0.5em;
  }
  header .list {
    display: block;
    color: #fff;
  }
  .home .title {
    font-size: 5vw;
    font-weight: 700;
  }
}
@media screen and (max-width: 435px) {
  .project .project-contents-box {
    height: 240vw;
  }
  .project .project-contents-box .project-contents {
    width: 85vw;
    height: 115vw;
  }
  .project-contents .project-text h2 {
    font-size: 5vw;
  }
  .project-contents .project-text h3 {
    font-size: 4vw;
  }
  .project-contents .project-text .project-nth {
    font-size: 2vw;
  }
  .project-contents .project-text .project-period {
    font-size: 3vw;
  }
  .project-contents .project-text .project-skills {
    margin: 4vw 0 8vw;
    font-size: 3vw;
  }
  .project-contents-box .project-contents .project-github {
    font-size: 8vw;
  }
  footer {
    font-size: 3vw;
  }
}

@keyframes textslide{
  0%
  {
    width: 0;
    border-right: 4px solid #fff;
  }
  99%
  {
    width: 100%;
    border-right: 4px solid #fff;
  }
  100%
  {
    width: 100%;
  }
}