@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #B2B2B2;
  font-family: 'Noto Serif KR', serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  height: 70px;
  box-shadow: 0 1px 0.3rem hsl(0deg 0% 80% / 80%);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 8px calc(50vw - 580px);
  margin: 0 auto;
  width: 100%;
}
header .name {
  padding: 23px 22px;
  line-height: 24px;
}
header .navbar {
  display: flex;
  list-style: none;
}
header .navbar li {
  padding: 8px 22px;
}
a {
  text-decoration: none;
  color: #fff;
}
header .list {
  display: none;
  position: absolute;
  right: 15px;
  top: 22px;
  font-size: 20px;
  cursor: pointer;
}
.home {
  position: relative;
  width: 100%;
  height: 50vw;
  background: url(https://cdn.pixabay.com/photo/2020/12/03/23/35/work-5801876_960_720.jpg) no-repeat fixed;
  background-size: cover;
  z-index: -1;
}
.home::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to left top, rgba(0, 0, 0, 0.9), transparent);
}
.home .title {
  font-size: 46px;
  font-weight: 700;
  line-height: 1.5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home .title .title-text {
  color: #444;
}
.title .title-text li span{
  position: relative;
  width: 100%;
}
.title .title-text li span::before {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: textslide 2s linear 1;
  animation-fill-mode: forwards;
}
.title .title-text li:nth-child(2) span::before {
  animation-delay: 2s;
}
.title .title-text li:nth-child(3) span::before {
  animation-delay: 4s;
}

.about {
  color: #444;
  position: relative;
  height: 80vh;
  margin: 0 calc(50vw - 370px);
}
.about .about-title {
  padding-top: 30px;
  font-size: 40px;
  text-align: center;
}
.about .about-title h2 {
  margin: 0;
}
.about .about-contents h2 {
  color: #666;
  text-align: center;
  margin-bottom: 35px;
}
.about .about-contents .about-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.about-contents .about-list .about-list-content {
  width: 50%;
  margin-bottom: 15px;
  height: 150px;
}
.about-contents .about-list .about-list-content span {
  font-size: 20px;
  font-weight: 700;
  right: -0.6em;
  position: relative;
}
.about-contents .about-list .about-list-content span::before {
  content: '';
  position: absolute;
  left: -0.6em;
  width: 0.2em;
  height: 100%;
  background-color: #444;
}
.about-contents .about-list .about-list-content .about-list-text {
  margin-top: 20px;
}
.skills {
  height: 80vh;
  margin: 0 calc(50vw - 370px);
}
.skills .skills-title {
  text-align: center;
  font-size: 36px ;
}

footer {
  background-color: #444;
  height: 10vh;
}
@media screen and (max-width: 1120px){
  .home {
    background-size: contain;
  }
}
@media screen and (max-width: 820px) {
  .home .title {
    font-size: 40px;
    font-weight: 700;
  }
  .about {
    width: 100%;
    margin: 0;
  }
  .about .about-title {
    padding-top: 1em;
    font-size: 32px;
  }
  .about-contents .about-list .about-list-content {
    width: 100%;
    text-align: center;
    height: 80px;
  }
  .about .about-contents h2 {
    font-size: 20px;
  }
  .about-contents .about-list .about-list-content span {
    right: 0;
  }
  .about-contents .about-list .about-list-content span::before {
    display: none;
  }
  .skills {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 680px){
  header {
    flex-direction: column; 
    align-items: flex-start;
    height: 70px;
    padding: 0;
  }
  header .navbar {
    display: none;
    padding: 0;
    margin: 0;
  }
  header .open {
    display: flex;
  }
  header .navbar {
    flex-direction: column; 
    width: 100%; 
    align-items: center;
  }
  header .navbar li {
    width: 100%; 
    text-align: center; 
    border: 1px solid #000;
  }
  header .list {
    display: block;
    color: #fff;
  }
  .home .title {
    font-size: 32px;
    font-weight: 700;
  }
}

@keyframes textslide{
  0%
  {
    width: 0;
    border-right: 4px solid #fff;
  }
  99%
  {
    width: 100%;
    border-right: 4px solid #fff;
  }
  100%
  {
    width: 100%;
  }
}